apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: backend-secrets
  namespace: framely-stage
spec:
  provider: azure

  # ------------------------------------------------------------
  # Azure Key Vault configuration
  # ------------------------------------------------------------
  parameters:
    usePodIdentity: "false"
    useVMManagedIdentity: "true"

    # You are using USER-assigned Managed Identity on AKS nodes
    userAssignedIdentityID: "e69de585-e3a1-4752-ab65-45373100e0c7"

    keyvaultName: kv-framely-stage
    tenantId: "fc9490dd-bfc5-45ed-8488-7927a690c913"

    # ------------------------------------------------------------
    # Key Vault objects (MUST match exact secret names)
    # ------------------------------------------------------------
    objects: |
      array:
        - |
          objectName: ConnectionStrings--DefaultConnection
          objectType: secret

        - |
          objectName: JwtSettings--Secret
          objectType: secret

        - |
          objectName: Storage--ConnectionString
          objectType: secret

        - |
          objectName: Storage--Container
          objectType: secret

        - |
          objectName: Storage--Name
          objectType: secret

        - |
          objectName: Storage--Key
          objectType: secret
